{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="qestform">
        <form action="{{ url_for("registration") }}" method="POST">
            <h3>Register user:</h3>
            <br />
            <input type="text" id="user_name" name="user_name" placeholder="Name"/>
            <br />
            <input type="text" id="user_email" name="user_email" placeholder="Email"/>
            <br />
            <input type="password" id="password_1" name="password_1" placeholder="Password"/>
            <br />
            <input type="password" id="password_2" name="password_2" placeholder="Retype password"/>
            <br />
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}